ul{
  list-style: none;
  width: 220px;
}

li {
  float: left;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid black;
}

li.ship {
  background: green;
}

li.aircraft-Carrier {
  background: #123
}

li.battleship {
  background: #345
}

li.destroyer {
  background: #abc
}

li.submarine {
  background: #def
}

li.patrol-boat {
  background: #2ef
}

li.miss {
  background: blue;
}

li.hit {
  background: red;
}

.player {
  float: left;
  margin-left: 50px;
}

.tracking-board {
  height: 260px;
}
