ul{
  list-style: none;
  width: 220px;
}

li {
  float: left;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid black;
}

li.aircraft-carrier {
  background: #123
}

li.battleship {
  background: #345
}

li.destroyer {
  background: #abc
}

li.submarine {
  background: #def
}

li.patrol-boat {
  background: #2ef
}

.missed {
  background: blue;
}

.hit {
  background: red;
}

.player {
  float: left;
  margin-left: 50px;
  width: 500px;
  position: relative;
}

.player h3 {
  padding-bottom: 50px;
}

.tracking-board {
  height: 260px;
  z-index: 100;
}
.tracking-board ul {
  z-index: 100;
}

.tracking-board li {
  z-index: 100;
}

.tracking-board-bg {
  position: absolute;
  z-index: -10;
  top: 74px;
  height: 272px;
  left: -73px;
}

.fleet-board-bg {
  position: absolute;
  z-index: -10;
  top: 351px;
  height: 272px;
  left: -73px;
}

.overlay {
  position: absolute;
  left: 380px;
  width: 200px;
  top: 200px;
}

.turn-pass {
  position: absolute;
  z-index: 100;
  top: 40px;
}

.announcement {
  position: absolute;
  z-index: 100;
  color: #fff;
  width: 200px;
  text-align: center;
}

body {
  background-image: url("../images/SeaSurface.jpg")
}

.instructions {
  float: left;
  position: absolute;
  display: none;
  width: 500px;
  border: 2px solid black;
  background: #ccc;
  right: 0;
}

.display-instructions {
  position: absolute;
  top: 0;
  left: 90%;
  float: right;
  background: #fff;
  padding: 10px;
  border: 1px solid black;
}

.display-instructions:hover .instructions {
  display: block;
  z-index: 1;
}
